src/main/java/eu/toop/directory/schema/directory-business-cards.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.peppol.eu/schema/pd/businesscard-generic/201907/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="root" type="ns:rootType" xmlns:ns="http://www.peppol.eu/schema/pd/businesscard-generic/201907/"/>
  <xs:complexType name="participantType">
    <xs:attribute type="xs:string" name="scheme" />
    <xs:attribute type="xs:string" name="value" />
  </xs:complexType>
  <xs:complexType name="nameType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="name" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="idType">
    <xs:attribute type="xs:string" name="scheme" />
    <xs:attribute type="xs:string" name="value" />
  </xs:complexType>
  <xs:complexType name="entityType">
    <xs:sequence>
      <xs:element type="ns:nameType" name="name" xmlns:ns="http://www.peppol.eu/schema/pd/businesscard-generic/201907/"/>
      <xs:element name="geoinfo" type="xs:string" minOccurs="0" />
      <xs:element type="ns:idType" name="id" maxOccurs="unbounded" minOccurs="0" xmlns:ns="http://www.peppol.eu/schema/pd/businesscard-generic/201907/"/>
      <xs:element type="xs:string" name="website" minOccurs="0"/>
      <xs:element type="ns:contactType" name="contact" minOccurs="0" xmlns:ns="http://www.peppol.eu/schema/pd/businesscard-generic/201907/"/>
      <xs:element name="additionalinfo" type="xs:string" minOccurs="0" />
    </xs:sequence>
    <xs:attribute type="xs:string" name="countrycode" />
  </xs:complexType>
  <xs:complexType name="doctypeidType">
    <xs:attribute type="xs:string" name="scheme" />
    <xs:attribute type="xs:string" name="value" />
  </xs:complexType>
  <xs:complexType name="businesscardType">
    <xs:sequence>
      <xs:element type="ns:participantType" name="participant" xmlns:ns="http://www.peppol.eu/schema/pd/businesscard-generic/201907/"/>
      <xs:element type="ns:entityType" name="entity" maxOccurs="unbounded" minOccurs="0" xmlns:ns="http://www.peppol.eu/schema/pd/businesscard-generic/201907/"/>
      <xs:element type="ns:doctypeidType" name="doctypeid" maxOccurs="unbounded" minOccurs="0" xmlns:ns="http://www.peppol.eu/schema/pd/businesscard-generic/201907/"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="contactType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="email" />
        <xs:attribute type="xs:string" name="name" />
        <xs:attribute type="xs:string" name="phonenumber" />
        <xs:attribute type="xs:string" name="type" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="rootType">
    <xs:sequence>
      <xs:element type="ns:businesscardType" name="businesscard" maxOccurs="unbounded" minOccurs="0" xmlns:ns="http://www.peppol.eu/schema/pd/businesscard-generic/201907/"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="version"/>
    <xs:attribute type="xs:string" name="creationdt"/>
  </xs:complexType>
</xs:schema>